body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/night.jfif'); /* Path to your image */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Keep the background fixed on scroll */
    background-repeat: no-repeat; /* Do not repeat the image */
}

#tm_link {
    display: block; /* or inline-block depending on your layout */
    text-align: left;
    padding: 10px;
    font-size: 18px; /* Adjust as needed */
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline */
}

#tm_link:hover {
    text-decoration: underline; /* Underline on hover */
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
}

.header p {
    margin: 0;
    color: #6c757d;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.column-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
}

.event-info, .calendar-container, .additional-info, .map-container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-info {
    flex: 0 0 20%; /* 20% of the container */
}

.calendar-container {
    flex: 0 0 100%; /* 100% width of the column */
    margin-bottom: 20px; /* Add some space between the calendar and additional info */
}

.additional-info {
    flex: 0 0 100%; /* 100% width of the column */
}

.map-container {
    flex: 0 0 50%; /* 60% of the container */
    height: 600px; /* Increase the height of the map */
    margin-right: 0; /* Remove the right margin */
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
    color: #343a40;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#map {
    width: 100%;
    height: 100%;
}

.info.legend {
    background: white;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info.legend i {
    width: 18px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info.legend p {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.navbar {
    margin-bottom: 0; /* Remove the bottom margin of the navbar */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}