.navbar {
    margin-bottom: 0; /* Remove the bottom margin of the navbar */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
  }
#map {
    height: 700px;
}
.table-container h6 {
    text-align: center;
}
.custom-background {
    background-image: url('../images/restaraunt_waikiki.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 215px;
    color: white
}