.navbar {
    margin-bottom: 0; /* Remove the bottom margin of the navbar */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}
.header-content {
    padding: 10px; /* Adjust padding */
    background: none; /* Remove background */
    color: black; /* Change text color to black */
}

.header-content h1 {
    font-size: 20px; /* Adjust font size */
    margin-bottom: 5px; /* Adjust margin */
}

.header-content p {
    font-size: 14px; /* Adjust font size */
    margin-bottom: 0; /* Adjust margin */
}

  
body {
    margin: 0;
    font-family: Arial, sans-serif; /* Adding a fallback font */
    background-image: url('/static/images/night.jfif'); /* Path to your image */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Keep the background fixed on scroll */
    background-repeat: no-repeat; /* Do not repeat the image */
    padding: 20px; /* Add padding to the body for background visibility */
    box-sizing: border-box; /* Include padding in the body's total width and height */
}

#topbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0px; 
}

#filter {
    padding: 10px;
    background-color: #f2f2f2;
    text-align: left;
    width: 30%; /* Adjust as necessary */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    margin-right: 20px; /* Add margin to the right for spacing */
}

#map {
    height: 600px;
    width: 70%; /* Adjust as necessary */
}

.filter-label {
    margin-right: 10px;
}

.filter-select {
    margin-right: 20px;
}

.container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for visibility */
    padding: 20px; /* Add padding inside the container */
    border-radius: 10px; /* Rounded corners for aesthetics */
}

.chart-container {
    text-align: center;
    margin: 20px auto;
}
